<nav class="navbar navbar-default navbar-static-top navbar-inverse">
  <div class="container">
    <ul class="nav navbar-nav">
      <li class="active">
        <a href="/"><span class="glyphicon glyphicon-home"></span> Home</a>
      </li>
      <li>
        <a href="/ussd"><span class="glyphicon glyphicon-list-alt"></span> USSD</a>
      </li>
      <li>
        <a href="/http"><span class="glyphicon glyphicon-list-alt"></span> HTTP</a>
      </li>
      <!-- 
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon glyphicon-info-sign"></span> LinkDesc<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="linkurl">LinkDesc</a></li>
            <li><a href="linkurl">LinkDesc</a></li>
            <li class="divider"></li>
            <li><a href="linkurl">LinkDesc</a></li>
            <li><a href="linkurl">LinkDesc</a></li>
          </ul>
      </li>
      -->
    </ul>
  </div>
</nav>
