<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

<% include ../partials/nav.ejs %>

<div class="container">
<h2>Last 50 log entries</h2>

<div class="table-responsive">
  <table class="table table-striped table-sm">
    <thead>
      <tr>
        <th>Timestamp</th>
        <th>Details</th>
      </tr>
    </thead>
    <tbody>
      <% results.slice(0, 50).reverse().forEach(function(r) { %>
      <tr>
        <td><%= r.timestamp %></td>
        <% var desc = JSON.parse(r.description)
        if (desc.low_light_alert) { %>
        <td class="alert alert-danger" role="alert">Warning, light levels of <%= desc.low_light_alert %> detected</td>
        <% } else { %>
        <td class="alert alert-light" role="alert">Latest Reading: <%= desc.latest_reading %></td>
        <% } %>
      </tr>
      <% }); %>
    </tbody>
  </table>
</div>

<ul>

</ul>

</div>

</body>
</html>
